.aside-title{
	margin-top: 0;
	padding: 15px 15px;
	color: $titleColor;
	background-color: $asideTitleBgColor;

	&__left-border{
		border-left: 4px solid $asideRightBorderColor;

		@mixin atSmall{
			border-left: 5px solid $asideRightBorderColor;
		}
	}

	&__input{
		height: 40px;
		border: 1px solid $borderColor;
		width: 100%;
		border-right: 0;

		@mixin atSmall{
			height: 50px;
		}

		&::placeholder{
			color: $placeholderColor;
		}

		&[type = "text"], &[type = "email"]{
			padding: 0 12px;
			font-size: 12px;
		}
	}

}