.footer-top{
  padding: 15px 15px;
  border-top: 1px solid $borderColor;
  
  @mixin clearfix;

  @mixin atSmall{
    padding: 20px 30px;
  }

  &__prev{
    font-weight: bold;
    color: $darkGray;
    float: left;

    @mixin atSmall{
      font-size: 1.125rem;
    }
  }

  &__next{
    font-weight: bold;
    color: $darkGray;
    float: right;

    @mixin atSmall{
      font-size: 1.125rem;
    }
  }
}