.row{

	@mixin atMedium{
		@mixin clearfix;

		&--gutters > div{
			padding-right: 80px;
		}

		&--gutters >div:last-child{
			padding-right: 0px;
		}

		&__medium-8{
			width: 66.66%;
			float: left;
		}

		&__medium-4{
			width: 33.33%;
			float: left;
		}
	}

	
}